.projects-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 100px;
}

.project-container {
	position: relative;
	margin-bottom: 40px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 3px 2px #cccccc;
  background-color: white;
}

.project-img, .project-content-container {
  display: block;
  max-width: 350px;
  max-height: 350px;
  width: auto;
  height: auto;
  border-radius: 3px;
}

.project-content-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.project-container:hover .project-content-container {
  opacity: 1;
  cursor: pointer;
  padding: 10px;
}

.project-content, .project-btn {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 12px;
  padding: 1px 15px;
  text-align: center;
}

.project-btn {
	text-decoration: none;
}

@media (max-width: 500px) {

	.project-img, .project-content	{
 		height: auto; 
	    width: auto; 
	    font-size: 12px;
	    max-width: 350px; 
	    max-height: 350px;
 	}
}