.project-img, .project-content {
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;
    padding: 15px;	
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    font-size: 14px;
}

.project-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 50px 0;
}

.project-name {
	font-size: 20px;
	font-weight: bold;
}

.project-img {
	border-radius: 18px;
	position: absolute;
}

.project-content {
	padding: 15px;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(29, 106, 154, 0.72);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, visibility .2s;
}

.project-img:hover, .project-content {
	cursor: pointer;
  	visibility: visible;
  	opacity: 1;
}

@media (max-width: 414px) {

	.project-img, .project-content	{
 		height: auto; 
	    width: auto; 
	    max-width: 300px; 
	    max-height: 300px;
 	}
}