ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #46211A;
}

li {
    float: left;
}

li a {
    display: block;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 17px;
    color: white;
    text-align: center;
    padding: 50px 20px 15px;
    transition: .5s;
    text-decoration: none;
}

li a:hover {
    background-color: #693D3D;
}

@media (max-width: 406px) {
    li a {
        padding: 50px 10px 15px;
        transition: .5s;
    }
}

@media (max-width: 320px) {
    li a {
        font-size: 15px;
    }
}